@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Para saber mais acesse o <a href="https://www.paroquiasaosebastiaoscj.com.br/">site</a> da nossa paróquia.</p>
</div>
