@model PromocaoHumana.Web.Models.Doacao.DoacaoViewModel
@Html.ValidationSummary()

@{
    ViewData["Title"] = "Cadastro de Nova Doação";
}

<h2>Nova Doação</h2>
<div>
    <div class="row">
        <div class="col-sm-12">
            @await Html.PartialAsync("_Doacao", Model)
        </div>
    </div>
</div>