@model PromocaoHumana.Web.Models.Igreja.IgrejaViewModel
@Html.ValidationSummary()

@{
    ViewData["Title"] = "Cadastro de Nova Igreja";
}

<h2>Cadastro</h2>
<div>
    <div class="row">
        <div class="col-sm-12">
            @await Html.PartialAsync("_Igreja", Model)
        </div>
    </div>
</div>